<head>
  <body>
      
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
-->
</body>
</head>




<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-7">
        <div class="border border-gainsboro p-3">
  
          <h2 class="h6 text-uppercase mb-0">Cart</h2>
        </div>
        <div *ngFor="let item of cart" >
      
        <div class="border border-gainsboro p-3 mt-3 clearfix item">
          <div class="text-lg-left">
            <i class="fa fa-ticket fa-2x text-center" aria-hidden="true"></i>
          </div>
          <div class="col-lg-5 col-5 text-lg-left">
          
          <h2>{{item.Prod_Name}}</h2>
          <h3>Price:{{item.Prod_Price}}</h3>
              <span>   
                  <button (click)="changeQty(item.Cart_Id,1)" class="btn btn-success">+</button>
                  <h3>Quantity:{{item.Prod_Quantity}}</h3>
                  <button (click)="changeQty(item.Cart_Id,2)" class="btn btn-success" >-</button>
                  <h3>Cost: {{item.Prod_Price* item.Prod_Quantity  }}</h3>
              </span>  
          </div>
          <div class="remove-item pt-4">
            <button (click)="removeFromCart(item.Cart_Id)" class="remove-product btn-light">
              Delete
            </button>
          </div>
        </div><!-- item -->
        </div>
      </div>
  
      <div>
        <button>Check-Out</button>
      </div>
      <br>
      <div *ngIf="cartTotal==0; else elseBlock"><h2>Your Cart is Empty Go shop</h2></div>

      <ng-template #elseBlock>
      <div class="col-xl-3 col-lg-4 col-md-5 totals">
        <div class="border border-gainsboro px-3">
          <div class="border-bottom border-gainsboro">
            <p class="text-uppercase mb-0 py-3"><strong>Order Summary</strong></p>
          </div>
          <div class="totals-item d-flex align-items-center justify-content-between mt-3">
            <p class="text-uppercase">Subtotal</p>
            <p class="totals-value" id="cart-subtotal">₹{{cartTotal}}</p>
          </div>
          <div class="totals-item d-flex align-items-center justify-content-between">
            <p class="text-uppercase">Estimated Tax</p>
            <p class="totals-value" id="cart-tax">₹{{cartTotal*.05}}</p>
          </div>
          <div class="totals-item totals-item-total d-flex align-items-center justify-content-between mt-3 pt-3 border-top border-gainsboro">
            <p class="text-uppercase"><strong>Total</strong></p>
            <p class="totals-value font-weight-bold cart-total">₹{{cartTotal*1.05 }}</p>
          </div>
        </div>
        <a href="#" class="mt-3 btn btn-pay w-100 d-flex justify-content-between btn-lg rounded-0">Pay Now <span class="totals-value cart-total">₹{{cartTotal*1.05}}</span></a>
      </div>
    </ng-template>
    </div>
  </div><!-- container -->


